h1 {
    text-align: center;
    margin: 25px;
    font-family: 'Dosis', sans-serif;
    font-size: 40px;
    font-weight: bold;
}

h2 {
    text-align: center;
    margin: 25px;
    font-family: 'Dosis', sans-serif;
    font-size: 30px;
    font-weight: bold;
    line-height: 1.5;
}

h3 {
    text-align: left;
    font-family: 'Dosis', sans-serif;
    font-weight: bold;
    font-size: 24px;
    text-decoration-thickness: 4px;
}

.underline {
    text-decoration: underline;
    text-decoration-color: #FFB699;
    text-decoration-style: solid;
    text-decoration-thickness: 8px;
    text-underline-offset: 10px;
}

.underline2 {
    text-decoration-color: #301A4B;
    text-decoration-style: solid;
    text-decoration-thickness: 6px;
}

.block-space {
	margin-bottom: 3rem;
}

body {
    background-color: rgb(252, 234, 222);
    font-family: 'DM Sans', sans-serif;
    margin: 0px;
    overflow-x: hidden;
    box-sizing: border-box;
}

section {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 400px;
    padding: 100px 20vw;
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
}

#main {
    position: relative;
    display: flex;
    flex-direction: row;
    min-height: 100px;
    padding: 20px 20vw;
    background-color: #ffffff;
    margin: inline; 
}

#pdf {
    box-sizing: border-box;
    border-radius: 25px;
    max-width: 800px;
    background-color: #ffffff;
    margin: inline; 
}

#contact {
    position: relative;
    display: flex;
    text-align: center;
    background-color: #301A4B;
    color: #ffffff;
    margin: inline; 
    padding: 50px 20vw;
}

div .scroll {
    overflow: auto;
    white-space: nowrap;
    padding: 10px;
}

div .scroll img {
    display: inline-block;
    padding: 10px;
    width: 100%;
}

.space {
    padding: 96px;
}

.text {
    box-sizing: border-box;
    border-radius: 25px;
    padding: 24px;
    max-width: 800px;
    background-color: #ffffff;
    margin: inline; 
}

.text2 {
    box-sizing: border-box;
    padding: 24px;
    max-width: 1200px;
    background-color: #ffffff;
    margin: inline; 
}

.flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
}

@media (max-width: 900px) {
    .flex {
        flex-direction: column;
    }

    .wrapper {
        flex-direction: column;
    }
}

ul li { 
    padding: 10px 0px; 
    text-align: center;
}

input[type=text], input[type=email], select, textarea {
    padding: 12px 10px;
    border-radius: 4px;
    box-sizing: border-box;
    border-color:#301A4B;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    font-family: 'DM Sans', sans-serif;
    font-size: 16px;
}
  
  input[type=submit] {
    box-sizing: border-box;
    padding: 50px 30px;
    border-radius: 4px;
    border-color:#301A4B;
    font-family: 'DM Sans', sans-serif;
    margin-top: 6px;
    margin-bottom: 16px;
    font-size: 16px;
}

.sendbutton {
    background-color: #FFB699;
    color: #301A4B;
    border-radius: 10px;
    cursor: pointer;
    font-family: 'DM Sans', sans-serif;
    font-size: 16px;
    box-shadow: inset;
    width: 90px;
    height: 40px;
}

.alignleft {
	float: left;
    padding: 16px;
}

.alignright {
    float: right;
    padding: 16px;
}

.backtotop {
    float: right;
    padding: 8px;
    font-family: 'DM Sans', sans-serif;
    font-size: 16px;
    box-shadow: inset;
    color:#FFFFFF;
    background-color: #301A4B;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 24px;
}

a.purplebutton {  
    display: block;
    text-align: center;
    width: 20%;
    border: 1px outset buttonborder;
    margin-left: auto;
    margin-right: auto;
    padding: 8px;
    font-family: 'DM Sans', sans-serif;
    font-size: 16px;
    box-shadow: inset;
    color:#FFFFFF;
    background-color: #301A4B;
    border-radius: 10px;
    cursor: pointer;
}

html {
    scroll-behavior: smooth;
}

.teamproject {
    width: 100%;
    max-width: 100%;
    max-height: auto;
    align-items: center;
    border-radius: 5px;
    pointer-events: none;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px 10vw;
}

.profile {
    height: 500px; 
    max-height: 100%;
    border-radius: 25%;
    padding-left: 40px;
    padding-right: 40px;
    pointer-events: none;
}

.jl {
    height: 80px; 
    vertical-align: middle;
    pointer-events: none;
}

.topleft {
    position: absolute;
    top: 8px;
    left: 16px;
}

.melon {
    background-color: #FFB699;
}

.robin {
    background-color: #25CED1;
}

.white {
    background-color: #FFFFFF;
}

.champagne {
    background-color: #FCEADE;
}

.champagnewave {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.champagnewave svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 112px;
}

.champagnewave .shape-fill {
    fill: #FCEADE;
}

.whitedivider{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.whitedivider svg {
    position: relative;
    display: block;
    width: calc(182% + 1.3px);
    height: 140px;
}

.whitedivider .shape-fill {
    fill: #FFFFFF;
}

.spacer {
    aspect-ratio: 950/300;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.melonwave {
    background-image: url('images/melonwaves.svg');
}

.whitewave {
    background-image: url('images/whitewaves.svg');
}

.melonwavedown {
    background-image: url('images/melonwavesdown.svg');
}

.melontochampagne {
    background-image: url('images/melontochampagne.svg');
}

.slides {
    position: relative;
    overflow: hidden;
    width: 75%;
    padding-top: 56.25%;
}

.slides iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.hero {
    object-fit: cover;
    width: 100%;
    height: 750px;
}

.banner {
    position: relative;
    text-align: center;
    color: white;
    font-size: 64px;
    font-family: 'Dosis', 'DM Sans', sans-serif;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.center-text {
    text-align: center;
}

.center-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}